# Join Tables in PySpark

In [2]:
from pyspark.sql import *

In [3]:
spark = SparkSession.builder.master("local").appName("Tutorial")\
.config("spark.some.config.option", "some-value") \
.getOrCreate()

## Создадим две таблицы

In [10]:
valuesA = [('Pirate', 1),
           ('Monkey', 2),
           ('Ninja', 3),
           ('Spaghetti', 4), 
           ('Cat', None)]
TableA = spark.createDataFrame(valuesA,['name','id_a'])
 
valuesB = [('Rutabaga',1),('Pirate',2),('Ninja',3),('Darth Vader',4),('Spaghetti', None)]
TableB = spark.createDataFrame(valuesB,['name','id_b'])
 
TableA.show()
TableB.show()

+---------+----+
|     name|  id|
+---------+----+
|   Pirate|   1|
|   Monkey|   2|
|    Ninja|   3|
|Spaghetti|   4|
|      Cat|null|
+---------+----+

+-----------+----+
|       name|  id|
+-----------+----+
|   Rutabaga|   1|
|     Pirate|   2|
|      Ninja|   3|
|Darth Vader|   4|
|  Spaghetti|null|
+-----------+----+

## Pyspark Inner Join

In [16]:
inner_join = TableA.join(TableB, on='name', how='inner')

In [15]:
inner_join.show()

+---------+---+----+
|     name| id|  id|
+---------+---+----+
|Spaghetti|  4|null|
|    Ninja|  3|   3|
|   Pirate|  1|   2|
+---------+---+----+

## Pyspark Left Join

In [17]:
left_join = TableA.join(TableB, on='name', how='left')
left_join.show()

+---------+----+----+
|     name|  id|  id|
+---------+----+----+
|Spaghetti|   4|null|
|    Ninja|   3|   3|
|      Cat|null|null|
|   Pirate|   1|   2|
|   Monkey|   2|null|
+---------+----+----+

## Pyspark Right Join Example

In [44]:
right_join = TableA.join(TableB, on='name', how='right')
right_join.show()

+-----------+----+----+
|       name|  id|  id|
+-----------+----+----+
|   Rutabaga|null|   1|
|  Spaghetti|   4|null|
|      Ninja|   3|   3|
|     Pirate|   1|   2|
|Darth Vader|null|   4|
+-----------+----+----+

## Pyspark Full Outer Join Example

In [45]:
full_outer_join = TableA.join(TableB, on='name', how='full_outer')
full_outer_join.show()

+-----------+----+----+
|       name|  id|  id|
+-----------+----+----+
|   Rutabaga|null|   1|
|  Spaghetti|   4|null|
|      Ninja|   3|   3|
|        Cat|null|null|
|     Pirate|   1|   2|
|     Monkey|   2|null|
|Darth Vader|null|   4|
+-----------+----+----+